{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1> Accueil de l'Administration </h1>
    <p> Accès rapide aux différents CRUD </p>

{% endblock %}

